
      
      {% extends "base.html" %}

      {% block title %}
      Home
      {% endblock %}
      
      {% block content %}
      <div class="row row-cols-1 row-cols-md-3">
        {% for item in items %}
        <div class="col mb-4">
          <div class="card" >
            <a id="{{ item.id }}" href="/home/iteminfo/{{ item.id }}" class="item-link">
              <img id="img" src="data:image/jpeg;base64,{{ item.img }}"; class="card-img-top" alt="...">
            </a>
            <div class="card-body">
              <h5 class="card-title">{{ item.name }}</h5>
              <p class="card-text">{{ item.item_name }}</p>
            </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">${{ item.item_price }}</li>
              </ul>
            <div class="card-body">
              <a href="/home/iteminfo/{{ item.id }}" class="card-link">View Details</a>
              <a href="/home/addtocart/{{ item.id }}" class="card-link">Add to cart</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      

      {% endblock %}
    {% block script %}
      {% endblock %}
      
      


    
