
    {% extends "base.html" %}
    {% block title %}
    Upload
    {% endblock%}
    {% block content %}
    <form action="/home/myitems/update/{{ item.id }}" enctype="multipart/form-data" method="POST">
      <p style="color: red;">{{ message }}</p>
      <div class="input-group mb-3">
        <div class="custom-file">
          <input id="upload-file" type="file" class="custom-file-input" id="pic" name='pic'>
          <label id="file-label" class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02" >Choose images of your item</label>
        </div>
      </div>
      
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Enter price $</span>
        </div>
        <input type="text" value="{{ item.item_price }}" name="item_price" class="form-control" aria-label="Amount (to the nearest dollar)">
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Item Name</span>
        </div>
        <input name="item_name" value="{{ item.item_name }}" type="text" class="form-control" aria-label="">
        <div class="input-group-append">
        </div>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Number of items</span>
        </div>
        <input value="{{ item.item_num }}" name="item_num" type="text" class="form-control" aria-label="">
        <div class="input-group-append">
        </div>
      </div>

      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text">Item Description</span>
        </div>
        <textarea class="form-control" id="item_desc" name="item_desc" aria-label="">{{ item.item_desc }}</textarea>
      </div>

      <input class="btn btn-secondary" type="submit" value="Update Item" />
      <a class="btn btn-secondary" href="/home" role="button">Cancel</a>
    </form>

    
    {% endblock %}
    {% block script %}
    <script>
      $('#upload-file').change(function(){
        var file = $('#upload-file')[0]==null?"":$('#upload-file')[0].files[0].name;
        document.getElementById('file-label').innerHTML=file;
      })
    </script>
    {% endblock %}